/* .General styles. */

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	justify-items: stretch;
	width: 100%;
	font-size: 1em;
	line-height: 1.5em;
	color: #666;
	display: grid;
	grid-auto-columns: 20% 60% 20%;
	grid-auto-rows: 10% auto auto 20% 20% 5%;
}

/*.....
HEADER
........
*/

header {
	grid-row: 1/2;
	grid-column: 1/4;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: linear-gradient(45deg, #EECFBA, #c7e1ce);
}

header h1,
header h2 {
	font-size: 2em;
	margin-left: 150px;
	margin-top: 20px;
	color: #193d21;
}

/* .............
NAVIGATION MENU
...............*/

nav li {
	margin-right: 20px;
	display: inline-block;
}

nav a {
	color: #fff;
	background: #e6c2de;
	padding: 5px 20px;
	text-decoration: none;
	border: 1px solid transparent;
}

nav a:hover {
	border: 1px solid #fff;
	background: #c7e1ce;
	box-shadow: 5px 0 10px rgba(2, 2, 2, .9);
}

input[type="checkbox"] {
	display: none;
}

/*button MENU (invisible)*/
nav label {
	display: none;
	color: #fff;
	background: #c7e1ce;
	padding: 10px 10px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: 0.3s;
}

nav label:hover {
	border: 1px solid #fff;
	background: #c7e1ce;
	box-shadow: 5px 0 10px rgba(2, 2, 2, .9);
}

/* END NAVIGATION */


/* .....
ABOUT BLOCK
...........*/

/*info about me*/

.about-contacts {
	grid-column: 2/3;
	grid-row: 2/3;
	width: 100%;
	margin-top: 30px;
}

.wrapper-about {
	display: grid;
	grid-template-columns: 50% 70%;
	grid-template-rows: 30% auto;
	grid-gap: 20px;
	grid-template-areas:
		"box-1 box-3"
		"box-2 box-3"
}

.wrapper-about .contacts {
	grid-area: box-1;
}

.wrapper-about .dowload {
	grid-area: box-2
}

.wrapper-about .about-text {
	border-top: 2px solid #e6c2de;
	border-bottom: 2px solid #e6c2de;
	box-shadow: 5px 0 10px rgba(1, 1, 1, .1);
	grid-area: box-3;
	display: flex;
}

#about-me {
	background: #c7e1ce;
	color: #fff;
	text-transform: uppercase;
	height: 20px;
	width: 60px;
	padding: 1em 2em;
	margin-bottom: 15px;
	box-shadow: 5px 0 10px rgba(1, 1, 1, .1);
	text-align: center;
	font-size: 0.8em;
}

.about-text img {
	padding: 20px;
}

/*Button dowload*/

div.download {
	width: 125px;
	height: 40px;
	margin-top: 55px;
	padding: 10px;
	position: relative;
	box-sizing: border-box;
	text-transform: uppercase;
}

div.download i {
	transition: all .3s linear 0s;
}

div.download:hover i {
	transform: scale(1.5)
}

div.download:after,
div.download:before {
	position: absolute;
	background: #c7e1ce;
	color: white;
	overflow: hidden;
	line-height: 40px;
	top: 0;
	bottom: 0;
	transition: all .2s linear 0s;
}

div.download:before {
	content: "Рез";
	text-align: right;
	left: 0;
	right: 55%;
}

div.download:after {
	content: "юме";
	text-align: left;
	right: 0;
	left: 45%;
}

div.download:hover:after {
	left: 65%;
	box-shadow: -5px 0 10px rgba(2, 2, 2, .5);
}

div.download:hover:before {
	right: 65%;
	padding-right: 5px;
	box-shadow: 5px 0 10px rgba(3, 3, 3, .7);
}

div.download a {
	color: #e6c2de;
	font-weight: bold;
	text-decoration: none;
}

.download {
	display: flex;
	justify-content: center;
}

/*
 ......
SKILLS 
........
*/

#skills {
	grid-column: 1/4;
	grid-row: 3/4;
	display: flex;
	justify-content: space-between;
	flex-wrap:nowrap;
	margin-bottom: 2em;
}

.skills-title {
	background: #c7e1ce;
	border-right: 1px solid white;
	color: #fff;
	text-transform: uppercase;
	max-width: 10px;
	padding: 2em 2em;
	text-align: center;
	margin-left: 1em;
	writing-mode: vertical-lr;
	margin-right: 5%;
	
}

#skills h3 {
	font-size: 1em;
	
}

.skill-text {
	font-size: 0.8em;
	opacity: 0.6;
}

.container-skills {
	display: flex;
	flex-wrap: wrap;
	
}

.column-1 {

width: 600px;
}

.column-2 {
width: 600px;
}

.cont {
	width: 90%;
	background-color: #efdecd;
}

.skills {
	text-align: right;
	padding: 10px;
	color: white;
	margin-bottom: 1rem;
}

.html {
	width: 70%;
	background-color: #e6c2de;
	animation: animate 3s 1;
}

.css {
	width: 65%;
	background-color: #e6c2de;
	animation: animate 3s 1;
}

.js {
	width: 30%;
	background-color: #e6c2de;
	animation: animate 3s 1;
}

.jq {
	width: 30%;
	background-color: #e6c2de;
	animation: animate 3s 1;
}

.less {
	width: 50%;
	background-color: #e6c2de;
	animation: animate 3s 1;
}

.flex {

	width: 80%;
	background-color: #e6c2de;
	animation: animate 3s 1;
}

.gulp {
	width: 30%;
	background-color: #c7e1ce;
	animation: animate 3s 1;
}

.lo {
	width: 50%;
	background-color: #c7e1ce;
	animation: animate 3s 1;
}

.git {
	width: 30%;
	background-color: #c7e1ce;
	animation: animate 3s 1;
}

.boot {
	width: 40%;
	background-color: #c7e1ce;
	animation: animate 3s 1;
}

.react {
	width: 10%;
	background-color: #c7e1ce;
	animation: animate 3s 1;
}

.grids {

	width: 80%;
	background-color: #c7e1ce;
	animation: animate 3s 1;
}

/*animation*/

@keyframes animate {
	from {
		width: 0%;
	}
}

p {
	font-weight: bold;
	margin-bottom: 0 !important;
}

/*FACTS*/

.boxex {
	grid-column: 1/4;
	grid-row: 4/5;
}

.title-box {
	background: #c7e1ce;
	box-shadow: 5px 0 10px rgba(1, 1, 1, .2);
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8em;
	width: 10%;
	height:auto;
	padding: 1em 1.5em;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;

}

.content-title {
	display: flex;
	justify-content: center;

}

/*facts's boxex*/
.facts-cls {
display: ;
}
.boxex ul {
	display: flex;
	
	justify-content: center;
	
}

.boxex li {
	background: white;
	list-style-type: none;
}

.boxex img {
	display: block;
	border-bottom: 1px solid black;
	width: 50px;
	margin: auto;
}

.box {
	padding: 1.5em;
}

.boxex p,
.boxex h3 {
	font-size: 1em;
	text-align: center;
}

.boxex p {
	color: #e6c2de;
	font-size: 0.8em;
	margin: 0;
}
/*......
SLIDER
......
*/

.wrap-slider {
	grid-column: 2/3;
	grid-row: 5/6;

}

.slider {
	position: relative;
}

.slider__items {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider__item {
	position: relative;
	/* disable default display of all slides */
	display: none;
	width: 100%;
	/* how long*/
	transition: transform 0.7s ease;
	/* don't show */
	backface-visibility: hidden;
}

/*TEXT*/

.slider__item .text {
	position: ;
	left:0;
	bottom: 60%;
	font-size: 0.7em;
}

.slider__item_active,
.slider__item_next,
.slider__item_prev {
	/* show slide if it have one of these classes */
	display: block;
}

.slider__item_next,
.slider__item_prev {
	/* for element which will be replaiced*/
	position: absolute;
	top: 0;
}

.slider__item_next.slider__item_left,
.slider__item_prev.slider__item_right {
	/* horizont */
	transform: translateX(0);
}

.slider__item_next,
.slider__item_right.slider__item_active {
	/* horizont */
	transform: translateX(100%);
}

.slider__item_prev,
.slider__item_left.slider__item_active {
	/* horizont */
	transform: translateX(-100%);
}

/* control arrows */
.slider__control {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
	text-align: center;
	opacity: 0.5;
}

.slider__control:hover,
.slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
}

.slider__control_prev {
	left: 0;
}

.slider__control_next {
	right: 0;
}

.slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.slider__control_prev::before {
	background-image: url("https://img.icons8.com/ios/50/000000/less-than-filled.png");
}

.slider__control_next::before {
	background-image: url("https://img.icons8.com/ios/50/000000/more-than-filled.png");
}

/* indicators */

.slider__indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
}

.slider__indicator {
	position: relative;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: black;
	border-radius: 6px;
}

.slider__indicator::before {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.slider__indicator::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.slider__indicator_active {
	background-color: #fff;
}

.wrap-slider h2 {
	background: #e6c2de;
	box-shadow: 5px 0 10px rgba(1, 1, 1, .2);
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	padding-bottom: 10px;
	width: 150px;
	padding: 1em 2em;
}

.slides {
	height: 250px;
	background: linear-gradient(45deg, rgba(103, 0, 31, .1), rgba(34, 101, 163, .1));
}

/*slide's images*/

.fr-slide {
	background:
		url(../img/resume.png) no-repeat 50% 50%;
	">

}

.sc-slide {
	background:
		url(../img/phsite2.png) no-repeat 50% 50%;
	">

}

.th-slide {
	background:
		url(../img/contact.png) no-repeat 50% 50%;
	">

}

/* ....
footer icons..... */

footer {
	grid-column: 1/4;
	grid-row: 6/7;
	background: linear-gradient(45deg, rgba(103, 0, 31, .1), rgba(34, 101, 163, .1));
}

footer ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 3em;
}

footer ul li {
	margin-right: 1em;
	width: 5%;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	transition: all 0.2s linear;
}


footer ul li .fa {
	position: absolute;
	transform: translate(-50%, -50%);
	color: #e6c2de;
	font-size: 2em;
	transition: all 0.5s linear;
	background: #fff;
	padding: 0.2em;
	border-radius: 5px;
	box-shadow: 5px 0 10px rgba(2, 2, 2, .5);
}

footer ul li:hover {
	background: #fff;

}

footer ul li:hover .fa {
	color: #c7e1ce;
}

.copyright {
	
	margin-top: 5em;

}
footer p {
	font-size: 0.3em;
	text-align:center;
	padding-top: 1em;
}


@import 'media'
